// Tabs
.nav-tabs {
    @media (min-width: @screen-sm-min) {
        margin-bottom: 0;
    }
}

// Tab content
.tab-content {
    border: none;
    background-color: @inverse;
    border-radius: @nav-border-radius;
}