.table {
    margin-bottom: 0;

    > thead,
    > tbody,
    > tfoot {
        > tr {
            &.dragged {
                opacity: 0.2;
            }

            > th,
            > td {
                vertical-align: middle;

                .handle:hover {
                    cursor: move;
                }
            }
        }
    }

    > tfoot > tr > th {
        border-bottom: none !important;
    }

    &.align-top {
        > thead,
        > tbody,
        > tfoot {
            > tr {
                > th,
                > td {
                    vertical-align: top;
                }
            }
        }
    }

    .checkbox,
    .radio {
        margin: 0;
        width: 100%;
        display: block;
    }
}