<footer class="app container-fluid">

    <div class="row">
        <div class="col-lg-12">
            &copy; {{ datetime.now "Y" }} - AnomalyLabs, Inc.
            <br>
            <a href="#" data-toggle="modal" data-target="#keyboard-shortcuts">
                <i class="fa fa-keyboard-o"></i> {{ lang.trans "theme::admin.keyboard_shortcuts" }}
            </a>
            <br>
            <br>
            Streams Platform Version {{ config.get "constants.version" }}
        </div>

        <div class="col-lg-12 text-right">
            {{ lang.trans "theme::admin.results" "from=1|to=5|total=127" }}
            <br>
            {{ lang.trans "theme::admin.meta" }}
        </div>
    </div>

</footer>