<footer class="app container-fluid">

    <div class="row">
        <div class="col-lg-12">
            &copy; {{ datetime.now format="Y" }} - AnomalyLabs, Inc.
            <br>
            <a href="#" data-toggle="modal" data-target="#keyboard-shortcuts">
                <i class="fa fa-keyboard-o"></i> {{ lang.trans string="theme::admin.shortcuts" }}
            </a>
            <br>
            <br>
            Streams Platform Version {{ config.get key="constants.version" }}
        </div>

        <div class="col-lg-12 text-right">
            {{ theme.pagination }}
            <br>
            {{ theme.footprint }}
        </div>
    </div>

</footer>