<div class="ui horizontal segment basic">

    <!-- Success Messages -->
    {% if message_exists('success') %}
        <div class="ui green inverted segment">
            <div class="ui list">
                {% for message in message_get('success') %}
                    <div class="item">{{ trans(message)|markdown }}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <!-- Informational Messages -->
    {% if message_exists('info') %}
        <div class="ui blue inverted segment">
            <div class="ui list">
                {% for message in message_get('info') %}
                    <div class="item">{{ trans(message)|markdown }}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <!-- Warning Messages -->
    {% if message_exists('warning') %}
        <div class="ui yellow inverted segment">
            <div class="ui list">
                {% for message in message_get('warning') %}
                    <div class="item">{{ trans(message)|markdown }}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <!-- Error Messages -->
    {% if message_exists('error') %}
        <div class="ui red inverted segment">
            <div class="ui list">
                {% for message in message_get('error') %}
                    <div class="item">{{ trans(message)|markdown }}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

</div>
