<div class="ui horizontal segment basic">

    <!-- Success Messages -->
    {% if message_exists('success') %}
        <div class="ui error success">
            <ul class="list">
                {% for message in message_get('success') %}
                    <li>{{ trans(message)|markdown }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <!-- Informational Messages -->
    {% if message_exists('info') %}
        <div class="ui error blue">
            <ul class="list">
                {% for message in message_get('info') %}
                    <li>{{ trans(message)|markdown }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <!-- Warning Messages -->
    {% if message_exists('warning') %}
        <div class="ui error yellow">
            <ul class="list">
                {% for message in message_get('warning') %}
                    <li>{{ trans(message)|markdown }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <!-- Error Messages -->
    {% if message_exists('error') %}
        <div class="ui error message">
            <ul class="list">
                {% for message in message_get('error') %}
                    <li>{{ trans(message)|markdown }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

</div>