<section id="messages" class="container-fluid">

    <!-- Success Messages -->
    {{ if messages.success }}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span><span class="sr-only">Close</span>
        </button>

        {{ messages.success }}
        {{ message }}
        {{ /messages.success }}
    </div>
    {{ endif }}


    <!-- Informational Messages -->
    {{ if messages.info }}
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span><span class="sr-only">Close</span>
        </button>

        {{ messages.info }}
        {{ message }}
        {{ /messages.info }}
    </div>
    {{ endif }}


    <!-- Warning Messages -->
    {{ if messages.warning }}
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span><span class="sr-only">Close</span>
        </button>

        {{ messages.warning }}
        {{ message }}
        {{ /messages.warning }}
    </div>
    {{ endif }}


    <!-- Error Messages -->
    {{ if messages.error }}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span><span class="sr-only">Close</span>
        </button>

        {{ messages.error }}
        {{ message }}
        {{ /messages.error }}
    </div>
    {{ endif }}

</section>