<section id="messages" class="container-fluid">

    <!-- Success Messages -->
    {% if session_get('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span><span class="sr-only">Close</span>
            </button>

            {% for message in session_get('success') %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <!-- Informational Messages -->
    {% if session_get('info') %}
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span><span class="sr-only">Close</span>
            </button>

            {% for message in session_get('info') %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}


    <!-- Warning Messages -->
    {% if session_get('warning') %}
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span><span class="sr-only">Close</span>
            </button>

            {% for message in session_get('warning') %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}


    <!-- Error Messages -->
    {% if session_get('error') %}
        <div class="alert alert-error alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span><span class="sr-only">Close</span>
            </button>

            {% for message in session_get('error') %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

</section>