<div class="ui vertical inverted sidebar menu left uncover navigation">
    <a class="item" href="https://github.com/Semantic-Org/Semantic-UI/archive/1.11.4.zip">
        <i class="download icon"></i> <b>Download</b>
    </a>
    <a class="item" href="/kitchen-sink.html">
        <i class="cubes icon"></i> <b>All UI</b>
    </a>

    <div class="item">
        <div class="ui small  inverted header">Globals</div>
        <div class="menu">

            <a class="item" href="/globals/reset.html">
                Reset

            </a>

            <a class="item" href="/globals/site.html">
                Site

            </a>

        </div>
    </div>
    <div class="item">
        <div class="ui small  inverted header">Elements</div>
        <div class="menu">

            <a class="item" href="/elements/button.html">
                Button

            </a>

            <a class="item" href="/elements/divider.html">
                Divider

            </a>

            <a class="item" href="/elements/flag.html">
                Flag

            </a>

            <a class="item" href="/elements/header.html">
                Header

            </a>

            <a class="item" href="/elements/icon.html">
                Icon

            </a>

            <a class="item" href="/elements/image.html">
                Image

            </a>

            <a class="item" href="/elements/input.html">
                Input

            </a>

            <a class="item" href="/elements/label.html">
                Label

            </a>

            <a class="item" href="/elements/list.html">
                List

            </a>

            <a class="item" href="/elements/loader.html">
                Loader

            </a>

            <a class="item" href="/elements/rail.html">
                Rail

            </a>

            <a class="item" href="/elements/reveal.html">
                Reveal

            </a>

            <a class="item" href="/elements/segment.html">
                Segment

            </a>

            <a class="item" href="/elements/step.html">
                Step

            </a>

        </div>
    </div>
    <div class="item">
        <div class="ui small  inverted header">Collections</div>
        <div class="menu">

            <a class="item" href="/collections/breadcrumb.html">
                Breadcrumb

            </a>

            <a class="item" href="/collections/form.html">
                Form

            </a>

            <a class="item" href="/collections/grid.html">
                Grid

            </a>

            <a class="item" href="/collections/menu.html">
                Menu

            </a>

            <a class="item" href="/collections/message.html">
                Message

            </a>

            <a class="item" href="/collections/table.html">
                Table

            </a>

        </div>
    </div>
    <div class="item">
        <div class="ui small  inverted header">Views</div>
        <div class="menu">

            <a class="item" href="/views/advertisement.html">
                Advertisement

            </a>

            <a class="item" href="/views/card.html">
                Card

            </a>

            <a class="item" href="/views/comment.html">
                Comment

            </a>

            <a class="item" href="/views/feed.html">
                Feed

            </a>

            <a class="item" href="/views/item.html">
                Item

            </a>

            <a class="item" href="/views/statistic.html">
                Statistic

            </a>

        </div>
    </div>
    <div class="item">
        <div class="ui small active  inverted header">Modules</div>
        <div class="menu">

            <a class="item" href="/modules/accordion.html">
                Accordion

            </a>

            <a class="item" href="/modules/checkbox.html">
                Checkbox

            </a>

            <a class="item" href="/modules/dimmer.html">
                Dimmer

            </a>

            <a class="active item" href="/modules/dropdown.html">
                Dropdown

            </a>

            <a class="item" href="/modules/modal.html">
                Modal

            </a>

            <a class="item" href="/modules/nag.html">
                Nag

                <span class="ui mini empty yellow circular ui label"></span>

            </a>

            <a class="item" href="/modules/popup.html">
                Popup

            </a>

            <a class="item" href="/modules/progress.html">
                Progress

            </a>

            <a class="item" href="/modules/rating.html">
                Rating

            </a>

            <a class="item" href="/modules/search.html">
                Search

            </a>

            <a class="item" href="/modules/shape.html">
                Shape

            </a>

            <a class="item" href="/modules/sidebar.html">
                Sidebar

            </a>

            <a class="item" href="/modules/sticky.html">
                Sticky

            </a>

            <a class="item" href="/modules/tab.html">
                Tab

            </a>

            <a class="item" href="/modules/transition.html">
                Transition

            </a>

            <a class="item" href="/modules/video.html">
                Video

                <span class="ui mini empty yellow circular ui label"></span>

            </a>

        </div>
    </div>
    <div class="item">
        <div class="ui small  inverted header">Behaviors</div>
        <div class="menu">

            <a class="item" href="/behaviors/api.html">
                API

            </a>

            <a class="item" href="/behaviors/form.html">
                Form Validation

            </a>

            <a class="item" href="/behaviors/visibility.html">
                Visibility

            </a>

        </div>
    </div>
</div>