<div class="ui vertical sidebar menu top search" style="height: 100% !important;">

    <div class="ui icon input fluid">
        <input type="text" placeholder="Search...">
        <i class="search icon"></i>
    </div>

</div>
