<section class="app-toolbar container-fluid">

    <a href="{{ url.home }}/admin/{{ modules.active.slug }}" class="title">
        {{ modules.active.name }}
        <i class="fa fa-lg fa-chevron-right"></i>
    </a>

    {{ if theme.sections }}
    <ul class="sections nav nav-pills">
        {{ theme.sections }}
        <li class="{{ class }}">
            <a href="{{ url.to "{path}" }}">{{ title }}</a>
        </li>
        {{ /theme.sections }}
    </ul>
    {{ endif }}

    {{ if theme.actions }}
    <div class="actions">
        {{ theme.actions }}
        <a href="{{ url.to "{path}" }}" class="btn btn-success">{{ title }}</a>
        {{ /theme.actions }}
    </div>
    {{ endif }}

</section>