<section class="app-toolbar container-fluid">

    <div class="title {{ if theme.menu }}dropdown{{ endif }}">
        <a href="{{ module.active.url }}" data-toggle="dropdown">
            {{ module.active.name }}
            <i class="fa fa-lg fa-chevron-right"></i>
        </a>

        {{ if theme.menu }}
        <ul class="dropdown-menu">
            {{ theme.menu }}
            <li><a href="{{ url }}">{{ title }}</a></li>
            {{ /theme.menu }}
        </ul>
        {{ endif }}
    </div>


    {{ if theme.sections }}
    <ul class="sections nav nav-pills">
        {{ theme.sections }}
        <li class="{{ active then 'active' }}">
            <a href="{{ url }}">{{ title }}</a>
        </li>
        {{ /theme.sections }}
    </ul>
    {{ endif }}


    {{ if theme.actions }}
    <div class="actions">
        {{ theme.actions }}
        <a href="{{ url }}" class="{{ class }}">{{ title }}</a>
        {{ /theme.actions }}
    </div>
    {{ endif }}

</section>