<footer id="footer">
    <div class="container-fluid wrapper">
        <div class="row">

            <div class="col-lg-12">
                <small id="copyright">
                    &copy; 2008 - {{ datetime.now "Y" }} AI Web Systems, Inc.
                </small>
            </div>

            <div class="col-lg-12 text-right">
                <small id="meta-information">
                    Showing results 25 - 50 of 2031
                    <br>
                    Loaded in #s using #.# MB
                </small>
            </div>

        </div>
    </div>
</footer>