<!doctype html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html>

<head>
    {{ include "theme::partials/metadata" }}
</head>

<body data-spy="scroll" data-target=".spybar">

{{ include "theme::partials/navigation" }}
{{ include "theme::partials/navbar" }}
{{ include "theme::partials/header" }}
{{ include "theme::partials/messages" }}

<section id="content">
    <div class="container-fluid wrapper">
        <div class="row">
            <div class="col-lg-24">
                {{ yield "content" }}
            </div>
        </div>
    </div>
</section>

{{ include "theme::partials/footer" }}

</body>
</html>