//
// Glyphicons for Bootstrap
//
// Since icons are fonts, they can be placed anywhere text is placed and are
// thus automatically sized to match the surrounding child. To use, create an
// inline element with the appropriate classes, like so:
//
// <a href="#"><span class="glyphicon glyphicon-star"></span> Star</a>

// Import the fonts
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('http://streams.app/assets/develop/eot/ad4a6dda7a0fc0cfd4e959294e9bcfae.eot');
  src: url('http://streams.app/assets/develop/eot/ad4a6dda7a0fc0cfd4e959294e9bcfae.eot?#iefix') format('embedded-opentype'),
       url('http://streams.app/assets/develop/woff/ad254ace56d34ed13a89025f2653f3c2.woff') format('woff'),
       url('http://streams.app/assets/develop/ttf/d29e1969b9c8ac09963d973baaa87ecd.ttf') format('truetype'),
       url('http://streams.app/assets/develop/svg/d061548925ffdc1458954701176ccfb3.svg#@{icon-font-svg-id}') format('svg');
}