header.app {
    background-color: @gray-darker;

    .navbar {
        margin: 0;
        border: none;
        background: none;

        .navbar-brand {
            color: #ffffff;
            padding-left: 0;
            margin-top: -5px;
            font-family: @headings-font-family;

            img {
                width: 30px;
            }
        }

        .navbar-toggle {
            .icon-bar {
                background-color: #ffffff !important;
            }

            &:hover {
                background-color: @brand-primary !important;
            }
        }

        .nav {
            li {
                &.active {
                    a {
                        color: #ffffff;
                        background: none;

                        &:hover {
                            color: #ffffff;
                        }
                    }
                }

                a {
                    color: @gray-dark;

                    &:hover {
                        color: @gray;

                        .fa-sign-out {
                            color: @brand-danger;
                        }
                    }
                }

                .fa-sign-out {
                    margin-left: 10px;
                }
            }
        }

        .navbar-collapse {
            border-top: none;
        }
    }
}