@import "../bootstrap/mixins/opacity";
@import "../bootstrap/mixins/vendor-prefixes";

#navigation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: @zindex-navbar + 1;
    background-color: @gray-darker;
    overflow: visible;

    &.closed {
        height: 0;

        .container-fluid {
            display: none;
        }
    }

    &:not(.closed) {
        padding: 15px 0;

        #toggle-navigation {
            margin-left: -40px;
            background-color: @gray-darker;
            .opacity(1);
        }
    }

    #toggle-navigation {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -25px;
        margin-bottom: -17px;
        color: #ffffff;
        background: @gray-darker;
        .opacity(0.5);
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 1px 8px 1px 6px;
        border-radius: 0 0 3px 3px;
        z-index: @zindex-navbar + 1;
        text-decoration: none;

        &:hover {
            background-color: @gray-darker;
            .opacity(1);
        }
    }
}