.btn {
    &.btn-default {
        &:hover {
            color: @gray-darker;
            border-color: @gray-darker;
        }
    }

    &.btn-link {
        color: @gray-light;

        &:hover {
            color: @gray-dark;
        }
    }

    &,
    &:active,
    &.active {
        &:focus {
            outline: none;
        }
    }

    &:not(.btn-default) {
        border: none !important;
    }
}

.btn-group .btn {
    margin-left: 0 !important;
}

.close {
    &:hover {
        color: #ffffff;
    }
}