input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    &,
    &:focus {
        outline: none !important;
    }
}

/* Placeholders */
input::-webkit-input-placeholder {
    color: lighten(@gray-lighter, 5%) !important;
}

input:-moz-placeholder {
    color: lighten(@gray-lighter, 5%) !important;
}

input::-moz-placeholder {
    color: lighten(@gray-lighter, 5%) !important;
}

input:-ms-input-placeholder {
    color: lighten(@gray-lighter, 5%) !important;
}
