.ui.segment.header {
    margin-bottom: 0;

    .buttons {
        margin-bottom: 2rem;
    }

    .menu.vertical {
        width: auto;
        display: none;

        .item:first-child {
            margin-left: 0;
        }
    }

    .menu.primary {
        display: block;
    }
}

@media (max-width: 769px) {
    .ui.segment.header {
        .ui.header {
            span {
                display: block;
            }
        }

        .menu.vertical {
            display: block;
        }

        .menu.primary {
            display: none;
        }

        .buttons {
            .button {
                width: 100%;
                display: block;
                margin: 0 0 .5em 0;
            }
        }
    }
}
