#login {
    > .ui.grid {
        padding-top: 5%;

        .ui.segment.basic {
            margin: auto !important;
            max-width: 300px !important;

            .remember {
                text-align: left !important;;
            }
        }
    }
}
