@media (max-width: 768px) {
    .ui.header.menu .item.brand {
        display: none;
    }
}

.ui.inverted.menu {
    background-color: #222222;
}

.ui.header.menu .item {
    color: #999999;
}

.ui.header.menu .logo > img:only-child {
    float: left;
    margin-top: -4px;
    margin-bottom: -4px;
}

.ui.header.menu .item.user > img {
    display: inline;
    margin: -6px 0 -6px 5px;
}

.fixed.launch.button {
    position: fixed;
    top: 63px;
    left: -1px;
    width: 55px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: 0.3s width ease, 0.5s transform ease;
    -moz-transition: 0.3s width ease, 0.5s transform ease;
    -o-transition: 0.3s width ease, 0.5s transform ease;
    -ms-transition: 0.3s width ease, 0.5s transform ease;
    transition: 0.3s width ease, 0.5s transform ease;
}

.launch.button .icon {
    margin-left: 0px;
}

.fixed.launch.button .text {
    position: absolute;
    white-space: nowrap;
    top: auto;
    left: 54px;
    opacity: 0;
    -webkit-transition: 0.3s opacity 0.3s;
    -moz-transition: 0.3s opacity 0.3s;
    -o-transition: 0.3s opacity 0.3s;
    -ms-transition: 0.3s opacity 0.3s;
    transition: 0.3s opacity 0.3s;
}

.fixed.launch.button:hover {
    width: 130px;
}

.fixed.launch.button:hover .text {
    opacity: 1;
}
