.ui.inverted.menu {
    background-color: #222222;
}

.ui.inverted.menu {
    .item {
        color: #999999;

        &.user > img {
            display: inline;
            margin: -6px 0 -6px 5px;
        }
    }
}

@media (max-width: 768px) {
    .ui.inverted.menu {
        > .item {
            span {
                display: none;
            }
        }

        .item.user {
            > span {
                display: none;
            }
            > img {
                margin-left: 0;
            }
        }
    }
}