.container.panel {
    margin: 0 auto;
    padding: 2em 2em 7em;
    background-color: #ffffff;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
    z-index: 1;
}