.pusher {
    display: flex;
    overflow: visible;
    min-height: 100vh;
    flex-direction: column;
}

.pusher > .full.height {
    padding-top: 35px;
    background-color: #f7f7f7;
}

.pushable > .pusher {
    z-index: 2;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    background: inherit;
    transition: transform 500ms ease;
}