html {
    height: 100%;
}

body {
    height: 100%;
    background-size: 130px;
    background-repeat: no-repeat;
    background-position: center 37%;
}

#main {
    margin-top: @grid-gutter-width / 4;
}

.top-buffer {
    margin-top: @grid-gutter-width / 2;
}

.bottom-buffer {
    margin-bottom: @grid-gutter-width / 2;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}