body.dragging, body.dragging * {
    cursor: move !important;
}

.segment.table {
    margin-top: 0;
    padding-top: 0;
}

.ui.table[class*="top aligned"] td {
    vertical-align: top;
}

.ui.table tr.dragged td,
.ui.table tr td.dragged,
.ui.table tr.dragged:hover td,
.ui.table tr:hover td.dragged {
    pointer-events: none;
    background-color: #fafafa;
    color: rgba(40, 40, 40, 0.3);
}

@media (max-width: 768px) {
    .ui.table .button {
        width: 100%;
        display: block;
        margin: 0 0 .5em 0;

        &:last-child {
            margin-bottom: 0 !important;
        }
    }
}
