section.app-toolbar {
    background-color: #ffffff;
    padding-top: @padding-base-vertical;
    padding-bottom: @padding-base-vertical;
    margin-bottom: @grid-gutter-width / 3;

    .title {
        float: left;
        display: inline-block;

        > a {
            color: @gray-dark;
            position: relative;
            display: inline-block;
            text-decoration: none;
            padding: 10px 0 10px 10px;
            font-size: @font-size-large;
            line-height: @line-height-computed;

            i {
                margin-left: 10px;
                color: lighten(@gray-lighter, 20%);
            }
        }

        &.dropdown {
            > a {
                &:after {
                    left: 50%;
                    bottom: 0;
                    z-index: 0;
                    font-size: 14px;
                    content: "\f141";
                    position: absolute;
                    margin-left: -16px;
                    margin-bottom: -6px;
                    font-family: "FontAwesome";
                }
            }
        }
    }

    .sections.nav {
        float: left;
        padding-left: 0;

        li {
            a {
                color: @gray-lighter;
            }

            &.active {
                a {
                    background: none;
                    font-weight: bold;
                    color: @gray-darker;
                }

                &:hover {
                    a {
                        color: @gray-darker;
                    }
                }
            }

            &:hover {
                a {
                    background: none;
                    color: darken(@gray-lighter, 20%);
                }
            }
        }
    }

    .actions {
        float: right;
        margin-top: 1px;
    }
}