<section class="container-fluid">

    {{ if ui.sections }}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{ ui.sections }}
            {{ if class == 'active' }}
            {{ title }} <span class="caret"></span>
            {{ endif }}
            {{ /ui.sections }}
        </button>
        <ul class="dropdown-menu" role="menu">
            {{ ui.sections }}
            {{ if "{class}" != 'active' }}
            <li>
                <a href="{{ url.to "{path}" }}">{{ title }}</a>
            </li>
            {{ endif }}
            {{ /ui.sections }}
        </ul>
    </div>
    {{ endif }}


    {{ if ui.actions }}
    <div>
        {{ ui.actions }}
        <a href="{{ url.to "{path}" }}" class="btn btn-success btn-block">{{ title }}</a>
        {{ /ui.actions }}
    </div>
    {{ endif }}

</section>