<!doctype html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html>

<head>
    {% include "theme::partials/metadata" %}
</head>

<body class="pushable dimmable">

{% include "theme::partials/search" %}
{% include "theme::partials/navigation" %}
{% include "theme::partials/menu" %}

<div class="pusher">
    <div class="full height">
        {% include "theme::partials/header" %}
        {% include "theme::partials/messages" %}

        {{ block('content') }}

        {% include "theme::partials/footer" %}
        {% include "theme::partials/modals" %}
    </div>
</div>

<div class="ui dimmer">
    <div class="ui text loader">Loading...</div>
</div>

</body>
</html>