<!doctype html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html>

<head>
    {% include "theme::partials/metadata" %}
</head>

<body class="custom pushable dimmable">

{% include "theme::partials/navigation" %}
{% include "theme::partials/header" %}

<div class="pusher">
    <div class="full height">
        {% include "theme::partials/toolbar" %}
        {% include "theme::partials/messages" %}

        <section id="main" class="container-fluid">
            {{ block('content') }}
        </section>

        {% include "theme::partials/modals" %}
        {% include "theme::partials/footer" %}
    </div>
</div>

</body>
</html>