<!doctype html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html>

<head>
    {{ include "theme::partials/metadata" }}
</head>

<body id="installer">

<header class="app">
    <div class="container">

        <nav class="navbar navbar-default">

            <div class="navbar-header">
            <span class="navbar-brand">
                {{{ image.img file="theme::img/logo.png" }}} Streams Installer
            </span>
            </div>

        </nav>

    </div>
</header>

<section id="main" class="container">

    <div class="row">
        {{ include "theme::partials/messages" }}
    </div>

    {{ yield "content" }}
</section>

<footer class="app container">

    <br><br>

    <div class="row">
        <div class="col-lg-12">
            &copy; {{ datetime.now "Y" }} - AnomalyLabs, Inc.
            <br>
            Streams Platform Version {{ config.get "constants.version" }}
        </div>

        <div class="col-lg-12 text-right">
            {{ theme.footprint }}
        </div>
    </div>

</footer>

{{ include "theme::partials/modals" }}

</body>
</html>