<!doctype html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html>

<head>
    {% include "theme::partials/metadata" %}
</head>

<body id="installer">

<header id="header">
    <div class="container">

        <nav class="navbar navbar-default">

            <div class="navbar-header">
                <span id="logo"></span>
                <span class="navbar-brand">
                    Streams Installer
                </span>
            </div>

        </nav>

    </div>
</header>

<section id="main" class="container">

    <div class="row">
        {% include "theme::partials/messages" %}
    </div>

    {% block content %}{% endblock %}

    <div class="row">
        {% include "theme::partials/footer" %}
    </div>

</section>

</body>
</html>